
<% if @produto.errors.any? %>
    <% @produto.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
    <% end %>
<% end %>

<%= form_for(@produto, :class => 'form', :html => {:multipart => true}) do |f| %>

    <div class="form-group">
      <%= f.label :nome %><br>
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :descricao %><br>
      <%= f.text_area :descricao, :class => 'form-control', :rows => 10 %>
    </div>

    <div class="form-group">
      <%= f.label :categoria %><br>
      <%= f.fields_for :categoria do |categoria| %>
          <%= categoria.text_field :nome, :class => 'form-control', :id => 'categoria' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :Imagem %><br>
      <%= f.file_field :imagem %>
    </div>

    <%= f.submit :class => 'btn btn-primary', :value => 'Salvar' %>

<% end %>