<% @produtos.each do |produto| %>

    <div class="col-md-4 produto-pesquisado-div-externa" >
      <div class="produto-pesquisado-div-interna" onclick="window.location='/produtos/<%= produto.id %>'" >
        <div class="row">
          <div class="col-md-4">
            <%= image_tag produto.imagem.url(:medio), :class => "img-thumbnail" %>
          </div>
          <div class="col-md-8">

            <p class="produto-nome">
              <%= produto.nome %>
            </p>

            <br>

            <p>
              <strong>Categoria:</strong> <%= produto.categoria.nome %>
            </p>

            <br>

            <p>
              <strong>Nota média:</strong> <%= produto.nota_media %>
            </p>

          </div>
        </div>
      </div>
    </div>
<% end %>


