<%= hidden_field_tag 'id_produto', @produto.id %>

<div class="jumbotron show-produto-container">
  <div class="row" >
    <div class="col-md-4" >
      <%= image_tag @produto.imagem.url(:grande), :class => "img-thumbnail" %>
    </div>
    <div class="col-md-8" >

      <h2 class="centralizado" > <%= @produto.nome %> </h2>

      <br>

      <h3> Sua nota: <strong id="sua-nota" > <%= current_user.nota_para_o_produto(@produto) %> </strong> <a class="dar-nota" href="#" > Dar nota </a>

        <select class="form-control" id='combo-notas' >
          <option value="" style="display: none" > Nota </option>
          <option value="0" > 0 </option>
          <option value="1" > 1 </option>
          <option value="2" > 2 </option>
          <option value="3" > 3 </option>
          <option value="4" > 4 </option>
          <option value="5" > 5 </option>
          <option value="6" > 6 </option>
          <option value="7" > 7 </option>
          <option value="8" > 8 </option>
          <option value="9" > 9 </option>
          <option value="10" > 10 </option>
        </select>

      </h3>

      <h3> Nota média: <strong> <%= @produto.nota_media %> </strong> </h3>

      <br>

      <h4>

        <%= @produto.descricao %>

       </h4>

    </div>
  </div>
</div>

<div class="jumbotron" >

  <h4> Escreva um comentário para este produto: </h4>

  <textarea class="form-control" rows="3"></textarea>

  <a href="#" class="btn btn-primary">Comentar</a>

  <br> <br>

  <div class="row" >

    <div class="col-md-4 comentario-foto-container">

      <img class="img-thumbnail comentario-foto" src="http://www.fodecast.com.br/wp-content/uploads/2013/09/1010870_580481862012190_397054848_n.jpg">

      <h5 class="centralizado" > Fulano da Silva </h5>

      <h5 class="centralizado" > Nota: <strong> 10,0 </strong> </h5>

    </div>

    <div class="col-md-8 comentario" >

      <h5> Muito bom esse celular. Roda vários game </h5>

    </div>
  </div>

  <hr>

  <div class="row" >

    <div class="col-md-4 comentario-foto-container">

      <img class="img-thumbnail comentario-foto" src="http://gfnoticias.com/wp-content/uploads/2013/03/chaves.jpg">

      <h5 class="centralizado" > Beltrano </h5>

      <h5 class="centralizado" > Nota: <strong> 5,0 </strong> </h5>

    </div>

    <div class="col-md-8 comentario" >

      <h5> Gostei muito não. Prefiro samsumg </h5>

    </div>
  </div>

  <hr>

  <div class="row" >

    <div class="col-md-4 comentario-foto-container">

      <img class="img-thumbnail comentario-foto" src="http://blogs.ne10.uol.com.br/social1/files/2013/04/curiosidade-sobre-o-seriado-chaves-quico.jpg">

      <h5 class="centralizado" > Ozeas </h5>

      <h5 class="centralizado" > Nota: <strong> 7,0 </strong> </h5>

    </div>

    <div class="col-md-8 comentario" >

      <h5> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
        commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        vulputate velit esse molestie consequat, vel illum dolore eu
        feugiat nulla facilisis at vero eros et accumsan et iusto odio
        dignissim qui blandit praesent luptatum zzril delenit augue duis
        dolore te feugait nulla facilisi. Nam liber tempor cum soluta
        nobis eleifend option congue nihil imperdiet doming id quod mazim
        placerat facer possim assum. Typi non habent claritatem insitam;
        est usus legentis in iis qui facit eorum claritatem.
        Investigationes demonstraverunt lectores legere me lius quod ii
        legunt saepius. Claritas est etiam processus dynamicus, qui
        sequitur mutationem consuetudium lectorum. Mirum est notare quam
        littera gothica, quam nunc putamus parum claram, anteposuerit
        litterarum formas humanitatis per seacula quarta decima et quinta
        decima. Eodem modo typi, qui nunc nobis videntur parum clari,
        fiant sollemnes in futurum </h5>

    </div>
  </div>

</div>