<%= hidden_field_tag 'id_produto', @produto.id %>

<div class="jumbotron show-produto-container">
  <div class="row" >
    <div class="col-md-4" >
      <%= image_tag @produto.imagem.url(:grande), :class => "img-thumbnail" %>
    </div>
    <div class="col-md-8" >

      <h2 class="centralizado" > <%= @produto.nome %> </h2>

      <br>

      <h3> Sua nota: <strong id="sua-nota" > <%= current_user.nota_para_o_produto(@produto) %> </strong> <a class="dar-nota" href="#" > Dar nota </a>

        <select class="form-control" id='combo-notas' >
          <option value="" style="display: none" > Nota </option>
          <option value="0" > 0 </option>
          <option value="1" > 1 </option>
          <option value="2" > 2 </option>
          <option value="3" > 3 </option>
          <option value="4" > 4 </option>
          <option value="5" > 5 </option>
          <option value="6" > 6 </option>
          <option value="7" > 7 </option>
          <option value="8" > 8 </option>
          <option value="9" > 9 </option>
          <option value="10" > 10 </option>
        </select>

      </h3>

      <h3> Nota média: <strong> 7,3 </strong> </h3>

      <br>

      <h4>

        <%= @produto.descricao %>

       </h4>

    </div>
  </div>
</div>